.form-title {
  font-weight: 550;
  /* margin-left: -14px; */
  /* margin-bottom: -8px; */
}

.form-header {
  font-weight: 550;
  font-size: x-large;
  /* margin-left: -14px; */
  /* margin-bottom: -8px; */
}

.top-title {
  font-weight: 550;
  /* font-size: x-large; */
}
.menu-title {
}

.bold-title {
  font-weight: 600;
}

.card-style {
  padding-top: 12px;
  padding-bottom: 20px;
  padding-right: 30px;
  padding-left: 30px;
}

.form-icon {
  margin-bottom: 18px;
}
